html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, red, yellow);
}
canvas {
    width:100%;
    height:auto;
    touch-action:none;
    object-fit:contain;
    background-image: linear-gradient(to bottom, red, yellow);
}
